head {
  font-family: 'Slabo 27px';
  font-size: 22px
}

#holder {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

#SubHolder {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

/* gallay slides */

/*1*/

.mySlides {
  display:none;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


/* gallay slides */

body {
  background-color: white;
  margin: 0;
}

hr {
  border: 0;
  width: 120px;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
}

html {
  height: 100%;
  width: 100%;
}

p {
  font-family: sans-serif;
  color: black;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-style: solid;
  border-color: black;
}

.img2 {
  display: block;
  width: 20%;
  border-style: solid;
  border-color: black;
}

.text {
  text-align: left;
  font-family: sans-serif;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 35px;
}

.text a {
  color: blue;
  text-decoration: none;
}


/* nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.socialtop {
  float: right;
  margin-right: 5%;
  width: fit-content;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: red;
}

.header {
  background-color: #f1f1f1;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-style: solid;
  border-color: black;
}


/* nav bar */

.table1 {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-width:  40%;
  max-height: 501px;
  min-height: 500px;
  border: null;
}


.texthide {
  color: white;
}

a {
  color: #ffffff;
}

/*  Deals CSS  */

.deals {
  text-align: center;
  
}

.outside {
  width: 20%;
  box-sizing: border-box;
  
}

#inside img {
  width: 50%;
  height: 40%;
  
}

.tDeals {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px black;
}

.trDeals {
  height: 300px;
  padding: auto;
  border: solid 1px black;
}

.tdDeals {
  background-color: #dadada;
  border-top-color: #dadada; 
}


.thImg {
  background-color: #dadada;
  width: 25%;
  transition: transform .2s;
  border: solid 1px black;
}

.tdDeals {
  border: solid 1px black;
}

.thImg1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

td {
  text-align: center;
}

/*  Deals Html  */


/*  Tooltip  */

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  overflow: hidden;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*  Tooltip  */


/* Media Screens */



/* Media Screens */


/* nav bar social */









/*
  Notes

1.Find sizes for Media Screen and for tag like (img, p, h1,) and dont forget you also have classes too if you want to eidt them in the classes too. i'll explane the media screen down below

  Media queries can be used to check many things, such as:

  1.width and height of the viewport
  2.width and height of the device
  3.orientation (is the tablet/phone in landscape or portrait mode?)
  4.resolution
  
  EXAMPLE ---- REMEMBER TO USE THE TAG YOU WANT TO EDIT. THE BOTTOM ONE SHOWS HOW TO USE CLASSES FOR @MEDIA SCREENS TAG
      @media only screen and (max-width: 600px) {
 ---> body {
      background-color: lightblue;
  }
}
      @media only screen and (max-width: 600px) {
 ---> body.example {
      background-color: lightblue;
  }
}
2.Rembember to find color for the text and the background, ect. With the <a></a> please find a way to make it the same color as .text class with an example down below and remove the underline 

  a {
     text-decoration:  ;
  }

3.There is a new CLASS .text1 please make it the same colors but smallers sizes including for @media screens 


*/